SECRET_KEY=your_secret_key_here
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/clh_db?retryWrites=true&w=majority
SAMBANOVA_API_KEY=your_sambanova_api_key_here
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxx
OPENAI_API_KEY=your_openai_api_key_here
